* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f1f2f6;
}

div.quiz {
  background-image: url("/static/images/exam.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

div.quiz div.card {
  backdrop-filter: blur(17px) saturate(200%);
  filter: drop-shadow(10px 10px 10px white);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.quiz div.questions {
  backdrop-filter: blur(17px) saturate(200%);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  /* background-color: rgba(255, 255, 255, 0.6); */
  box-shadow: 0 31.3944px 33.0467px #c2ffd5,
    inset 0 -4.95701px 16.5233px rgb(188 188 188 / 40%);
  /* border: 1px solid rgba(209, 213, 219, 0.3); */
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  margin: 20px 0;
  overflow-y: auto;
  border-radius: 25px;
  z-index: -99999;
  max-height: 90dvh;
  overflow: auto;
}

div.questions h1 {
  text-align: center;
  font-size: 2rem;
  margin: 15px 0;
}
form div.question {
  /* margin: 10px; */
  /* background: white; */
  padding: 1.5rem;
  border-bottom: 1px black solid;
  /* border-radius: 8px; */
  margin-bottom: 1.5rem;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); */
}

div.question p {
  font-weight: 600;
  margin-bottom: 1rem;
}

form div.choices {
  /* display: flex;
  flex-direction: row;
  align-items: center; */

  display: flex;
  align-items: center;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 2px solid #e2e8f0;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.choices:hover {
  background-color: #f7fafc;
  border-color: #ff4747;
}

div.choices input {
  margin: 10px;
}

form button {
  padding: 15px 20px;
  border-radius: 25px;
  text-align: center;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 15px auto;
  background-color: #000;
  color: #fff;

  /* width: 40%; */
}

div.share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
div.share h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: center;
}

@media (max-width: 600px) and (min-width: 280px) {
  div.quiz {
    height: 100dvh;
  }
  div.quiz div.questions {
    width: 90%;
    overflow-y: auto;
  }
  div.quiz h1 {
    width: 100%;
  }
  div questions form {
    width: 100%;
  }
  form button {
    /* width: 80%; */
    background-color: #000;
    color: #fff;
  }
  div.share h2 {
    font-size: 1.2rem;
  }
}
