* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f1f2f6;
}

div.scorecard {
  background-image: url("/static/images/scores.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div.card{
  backdrop-filter: blur(17px) saturate(200%);
  filter: drop-shadow(10px 10px 10px white);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.card div.scores {
  backdrop-filter: blur(17px) saturate(200%);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  box-shadow: 0 31.3944px 33.0467px #FFE473,
    inset 0 -4.95701px 16.5233px rgb(188 188 188 / 40%);
  border: 1px solid rgba(209, 213, 219, 0.3);
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  margin: 20px 0;
  overflow-y: auto;
  border-radius: 25px;
  z-index: -99999;
  max-height: 90dvh;
  overflow: auto;

  
}

div.scores p.score {
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
}

div.answers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

@media (max-width: 600px) and (min-width: 280px) {
  div.scorecard {
    height: 100dvh;
  }

  div.scorecard div.scores {
    width: 90%;
    padding: 10px;
    overflow-y: scroll;
  }
  div.answers {
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 20px;
  }
}
