<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-6QY0E24M1G"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-6QY0E24M1G");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/quiz.css')}}" />
    <title>Quiz Questions</title>
  </head>
  <body>
    <div class="quiz">
      <!-- Display the topic -->
      <!-- Render all questions and choices at once -->
      <div class="questions">
        <h1>{{ content.topic }}</h1>
        <form
          action="https://ai-quiz-app.onrender.com/quiz"
          method="GET"
          class="question"
        >
          <!-- <form action="http://localhost:5000/quiz" method="GET" class="question"> -->
          {% for question in content.questions %}
          <div class="question">
            <p>{{loop.index}}. {{ question.question }}</p>
            {% set question_number = loop.index %} {% for choice in
            question.choices %}
            <div class="choices">
              <input
                type="radio"
                name="question_{{ question_number }}"
                value="{{ choice }}"
                id="{{choice}}"
              />
              <label for="{{choice}}">{{choice}}</label>
            </div>
            {% endfor %}
          </div>
          {% endfor %}
          <button type="submit">Submit</button>
          <div class="share">
            <h2>Share this quiz with your friends</h2>
            <img src="{{qrcode(url, box_size=5, border=5)}}" alt="A QR code" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
