<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="scorecard">
      <p>{{score}}/{{correct_answers}}</p>
      <div class="correct">
        <h3>The correct answers are</h3> 
        {% for answer in correct_answers %}
        <p>{{answer}}</p>
        {% endfor %}
      </div>
      <div class="your">
        <h3>Your submissions</h3> 
        {% for answer in given_answers %}
        <p>{{answer}}</p>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
